.container{
    background-color: plum;
    height: 100vh;
}

ul{
    list-style: none;
    padding: 20px;
}

li{
    padding: 10px;
}

.links{
    padding-top: 100px;
}

.link{
    text-decoration: none;
    padding: 50px;
    font-size: 23px;
    color: aliceblue;
}

.link:hover{
    color: bisque;
    transition: all .3s;
}

