.photo{
    width: 230px;
    height: 250px;
}

.VasylPage{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navlink{
    color: darkgray;
    font-size: 25px;
}

.navlink:hover{
    text-decoration: none;
    color: gray;
}